<section class="units">
  <h1 class="units--title">Hospital IQ Front-End Assessment</h1>
  <table class="table">
    <thead>
      <tr class="units--sort">
        <th
        *ngFor="let header of tableHeaders"
        (click)="sortBy(header)"
        [ngClass]="{ active: header.sorted, desc: header.sortedBy === 'desc' }">
          {{ header.name }}
          <i class="fas fa-arrow-up"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let unit of units" class="units--row">
        <td>{{ unit.name }}</td>
        <td>{{ unit.id }}</td>
        <td>{{ unit.capacity }}</td>
        <td>{{ unit.census }}</td>
        <td>{{ unit.highAlarm }}</td>
        <td>{{ unit.lowAlarm }}</td>
      </tr>
    </tbody>
  </table>
</section>
