@import '../sass/output.scss';

.units {
  padding: 50px;

  &--title {
    margin-bottom: 40px;
  }

  &--sort {

    i {
      @include transition(.2s ease opacity);
      opacity: 0;
    }

    th {
      &:hover, &.active {
        i {
          opacity: 1;
        }
      }

      &.desc {
        i {
          @include transform(rotate(180deg));
        }
      }
    }
  }

  &--row {
    &:nth-child(even) {
      background: $neutral-light;
    }
  }
}
